#Getting and Cleaning Data
2015-10-05/getdata-033/quizzes/solutions/

#Reproducible Research
2015-10-05/repdata-033/reportwriting.pdf
2015-10-05/repdata-033/quizzes/solutions/

#Statistical Inference
2015-10-05/statinference-033/LittleInferenceBook.pdf
2015-10-05/statinference-033/quizzes/solutions/